# platform uses Python 3.8
# waiting for AWS >= 3.10 update:
# https://docs.aws.amazon.com/lambda/latest/dg/lambda-python.html
# TODO: when we do also test Bites with newer dependencies
bs4
cryptography
feedparser
Flask
gender-guesser
joblib
# MarkupSafe
more-itertools
nltk
pandas
python-dateutil
pytz
requests
textblob
xlrd
faker
freezegun
aiohttp
bcrypt
fastapi
passlib
python-jose
python-multipart
sqlmodel
setuptools
# test deps
pytest
pytest-cov
pytest-asyncio